<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="true">

	<description>Spring ORM 配置</description>

	<!-- Hibernate配置 通过 XML 映射文件ORM -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>test/entity/User.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">${hibernate.ehcache_config_file}</prop>                
            </props>
        </property>
    </bean>
    
    <!-- Hibernate配置 通过 注解 ORM -->
<!--	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">-->
<!--		<property name="dataSource" ref="dataSource" />-->
<!--		<property name="namingStrategy">-->
<!--			<bean class="org.hibernate.cfg.ImprovedNamingStrategy" />-->
<!--		</property>-->
<!--		<property name="hibernateProperties">-->
<!--			<props>-->
<!--				<prop key="hibernate.dialect">${hibernate.dialect}</prop>-->
<!--				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>-->
<!--				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>-->
<!--				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>-->
<!--				<prop key="hibernate.cache.provider_configuration_file_resource_path">${hibernate.ehcache_config_file}</prop>-->
<!--			</props>-->
<!--		</property>-->
<!--		<property name="packagesToScan" value="test.entity" />-->
<!--	</bean>-->

	<!-- 事务管理器配置,单数据源事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 使用annotation定义事务 -->
<!--	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />-->
    
    <!-- 配置事务的传播特性 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="del*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
      
    <!-- 那些类的哪些方法参与事务 -->  
    <aop:config>
<!--        <aop:pointcut expression="" id=""/>-->
        <aop:advisor pointcut="execution(* test.service.*.*(..))" advice-ref="txAdvice"/>
    </aop:config>
</beans>