<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <display-name>Spring 集成 Hibernate 模板项目</display-name>

    <!--
        Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Spring Context
        Loader
    -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext*.xml</param-value>
    </context-param>

    <!--Spring的ApplicationContext 载入 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
<!--    <listener>-->
<!--        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>-->
<!--    </listener>-->

<!--    <filter>-->
<!--        <filter-name>hibernateFilter</filter-name>-->
<!--        <filter-class>-->
<!--            org.springframework.orm.hibernate3.support.OpenSessionInViewFilter-->
<!--        </filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>hibernateFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

    <!-- session超时定义,单位为分钟 -->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
